<mat-card class="card mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>Home</mat-card-title>
        <mat-card-subtitle>Informações do projeto</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Imagem home HelpDesk">
    <mat-card-content>
        <p>
            Olá bem vindo ao sistema helpdesk desenvolvido por mim utilizanddo o Angular e SpringBoot. O intuito
            é simular um sistema de gerenciamento de chamados. <br>
            Espero que goste pois este é o meu primeiro contato utilizando Angular. Utilizei a biblioteca
            de componentes Angular Material.
            Portanto, o projeto pode parecer simples mas meu esforço foi grande.
            <br>
            <br>
            ~Pedro Henrique
        </p>
    </mat-card-content>
</mat-card>